#App2{
    display: flex;
    gap: 20px;
    background-color: lightblue;
    padding: 20px;
}

#app2_child_1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: lightcoral;
    padding: 5px;
}
#app2_child_2{
    background-color: lightgreen;
}