#container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: lightblue;
}

#loginForm,#signUpForm{
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
}